* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  color: #E5E5E5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0B0B0B;
  padding: 10px;
}



h1 {
  color: #E0241B;
  font-weight: bold;
}

.film-template {
  height: 527px;
  width: 352px;
  margin: 10px;
}

.cover > img {
  height: 527px;
  width: 352px;
}

.films-list {
  display: flex;
  flex-wrap: wrap;
}

.tv-series-list {
  display: flex;
  flex-wrap: wrap;
}

.cover {
  position: relative;
}

.details {
  position: absolute;
  top: 0;
  background-color: black;
  height: 527px;
  width: 352px;
  padding: 10px;
  overflow-y: auto;
}

li {
  list-style: none;
}

.lang-li {
  display: flex;
  align-items: center;
}

.lang img {
  height: 30px;
  margin-left: 10px;
}

.display-none {
  display: none;
}
